[2013-12-06 21:09] jdm opened #2 "Highlight some easy style nits"
It should be easy to find additions that include things like extraneous parentheses, missing spaces around operators, missing spaces before braces, etc. The bot could probably comment on them, reducing the work required for the reviewer a bit.

[2013-12-06 21:10] jdm opened #3 "Overall clone method call stats"
It doesn't have to be good or bad, just a quick glance of "oh, this PR sure add a lot of new clone calls." Look at the number of `.clone()` strings removed, and subtract that from the number of similar strings added.

[2014-12-22 22:05] jdm opened #5 "Refine unsafe heuristic"
Look for `unsafe {` and `unsafe fn` instead of just `unsafe`.

[2015-02-15 20:36] jdm opened #7 "Add automatic labelling capabilities"
* add `S-needs review` on new PR
* add `S-needs review` on new commits
* remove `S-needs rebase` if no merge conflicts

[2015-02-20 17:07] jdm opened #8 "Fetch title for Critic links"

[2015-04-04 20:06] DavidAwad opened #9 "Docs?"
Hi! I was wondering if this is the python script that emailed me with all my contributing information when I made a PR to a rust project. If so I'd love to know how it works!

[2015-04-05 03:44] jdm commented on #9
That one is actually https://github.com/nrc/highfive which is a more advanced fork of this one.

[2015-04-05 03:44] #9 closed

[2015-04-05 04:12] DavidAwad commented on #9
got it, thanks!

[2015-04-08 14:30] #8 closed

[2015-05-29 15:53] jdm opened #14 "List submodules being updated by a PR"
Every time a PR updates and includes a submodule change, we should add a comment to draw attention to that fact.

[2015-08-09 12:16] #7 closed

[2015-08-09 12:18] jdm commented on #14
https://github.com/nrc/highfive/blob/master/highfive/newpr.py#L359

[2015-08-09 15:18] jdm opened #16 "Add S-fails-tidy when appropriate commit status changes"

[2015-08-10 16:37] jdm opened #17 "Assignee in initial comment isn't recognized"
[code]

[2015-08-10 16:38] jdm commented on #16
[code]

[2015-08-10 16:39] jdm commented on #16
[code]

[2015-08-10 16:40] jdm commented on #16
Failed build (don't want to mark):
[code]

[2015-08-11 02:12] jdm opened #18 "Remove S-fails-tidy when synchronizing/approving merge"

[2015-08-11 13:23] jdm opened #19 "Don't remove S-awaiting-merge if it doesn't exist on adding S-needs-rebase"

[2015-09-01 20:01] jdm opened #20 "Only remove S-awaiting-merge label if it exists when adding S-needs-rebase"

[2015-09-01 22:52] jdm opened #21 "Add a sample config file"

[2015-09-01 22:52] jdm commented on #21
[code]

[2015-09-09 17:25] jdm opened #22 "Post a link to the raw WPT log and reftest analyzer when appropriate"
When homu reports a WPT testsuite failure, we should post a comment linking to the raw log. If it's test-css, we should link to the reftest analyzer tool, too: http://hoppipolla.co.uk/410/reftest-analyser-structured.xhtml

[2015-09-11 22:38] jdm opened #23 "Ask if the PR author would like a suggestion for something else to work on when a PR is merged"

[2015-09-16 02:14] JoshTheGoldfish commented on #16
It only seems appropriate that I take care of this with [Servo Issue #7480](https://github.com/servo/servo/issues/7480). Count me in on this one.

[2015-09-16 03:21] jdm commented on #16
Thanks!

[2015-09-17 14:04] jdm opened #24 "Add S-needs-rebase label when homu posts "Merge conflict" comment"

[2015-09-17 14:04] jdm commented on #24
And remove S-awaiting-merge, too.

[2015-09-22 16:35] edunham opened #25 "Say when a PR adds new dependencies"
As discussed in this week's Servo meeting, it would be great if highfive added a comment when new dependencies are added. To go above and beyond on a language-specific basis, it would be great to look up each dependency's license in its metadata and note that in the comment as well.

[2015-09-27 15:03] JoshTheGoldfish commented on #21
This is included in https://github.com/jdm/highfive/pull/26

[2015-10-08 19:57] jdm opened #27 "When travis completes successfully, add an r+ comment if there's a label present"
This would enable a "merge if this compiles" workflow which allows reviewers to be more hands-off during the process.

[2015-10-08 19:58] jdm opened #28 "Add the S-needs-code-changes if travis build fails"

[2015-11-16 22:40] edunham commented on #23
In Servo, this could be a link to http://servo.github.io/servo-starters/ . In other repos, this could be
* any open, easy-tagged issue without an "assigned" label if the repo has an "assigned" label and an "easy" label
* any open, easy-tagged issue regardless of other tags, if the repo has no "assigned" label
* any open issue, if the repo does not have an "easy" label

[2015-11-16 22:42] edunham commented on #19
This will take a little extra logic around https://github.com/servo/highfive/blob/master/newpr.py#L217 . Test that the S-awaiting-merge label is present before trying to remove it.

[2015-11-16 23:01] edunham commented on #27
Should this be a specific new label, like merge-on-success, or any label?

[2015-11-16 23:09] edunham commented on #20
Closing as duplicate of #19

[2015-11-16 23:09] #20 closed

[2015-11-16 23:12] edunham commented on #28
Build status seems to be available in the API result as "state":"failure", see https://github.com/servo/highfive/issues/16 for a couple examples

[2015-11-17 03:13] jdm commented on #27
Definitely a specific new one.

[2015-11-17 14:25] jdm commented on #2
We already have `./mach test-tidy` for this, and #26 addresses the highfive integration.

[2015-11-17 14:25] #2 closed

[2015-11-23 18:06] edunham opened #30 "Help people without permissions claim issues"
Servo has the wonderful problem of new contributors stepping on each others' toes for introductory bugs. To reduce this, it would be nice to have Highfive note that an issue is claimed when someone claims it. I can think of two ways to implement an "assign to newbie":

* Find or make the "A-Assigned" tag, tag the issue with it, comment "this issue was claimed by ___ on __/__/____"
* Add the new us

[2015-11-23 19:18] jdm commented on #30
The timeout idea would require some notion of state to be preserved, as well as figuring out when and how to trigger highfive to deal with expired items, since it's only run as a webhook at the moment. Here's a way we could make the special assignment syntax maximally useful:
* when an issue marked "E-easy" or "E-less easy" receives a comment from a user who is not in the list of repository contri

[2015-11-23 20:35] edunham commented on #30
Heard back from github support:

so the teams implementation could work for this.

[2015-11-23 20:46] jdm commented on #30
That's a very interesting solution!

[2015-11-24 15:13] jdm opened #31 "Warn if PR includes changes to csswg tests"
We can't upstream the CSSWG tests automatically from servo/servo, so all changes need to be made upstream. We should check for this fact (tests/wpt/css-tests/), along with changes to tests/wpt/harness/wptrunner/ and anything else that belongs upstream.

[2015-11-25 16:22] jdm opened #32 "Check for common problems when adding the "E-easy"/"E-less easy" labels"
The first time the label is added, we should check for the presence of common issues. I need to think about what this involves, but off the top of my head:
* lack of filenames (a/b.rs), types/modules (a::b)
* lack of instructions involving mach (ie. `./mach test-wpt`, `./mach build-cef`, `./mach test-tidy`)

We could leave a comment highlighting the missing pieces and linking to a document with be

[2015-11-27 05:45] KiChjang opened #34 "Automatically retry when tidy fails"
Sometimes PRs get r+'d without Travis CI finishing its build, which causes homu to fail when the PR fails tidy. It may be beneficial when the contributor pushes a new commit to the PR after homu fails, highfive would automatically r+ again.

[2015-11-30 23:20] Mylainos commented on #28
I would like to work on this one but I'm not sure I should add code in `homu_status/__init__.py` or in `status_update/__init__.py`.

[2015-11-30 23:31] edunham commented on #28
@Mylainos Welcome! I believe it should be in `status_updates/__init.py__`, but let's confirm with @jdm since he architected the change to event handlers.

[2015-12-01 01:49] jdm commented on #28
This belongs in status_updates, but it will need to be a new hook defined in eventhandler.py and invoked from newpr.py when the new action is encountered.

[2015-12-01 01:52] jdm commented on #28
I suggest on_build_status.

[2015-12-03 16:54] jdm opened #35 "Check for the presence of tests in more PRs"
We currently warn about layout changes that don't include tests. I think we should extend this to every PR that touches components/script, components/gfx, components/style, and components/net, since those are the most likely to contain testable changes.

Code: `handlers/missing_test/__init__.py`

[2015-12-03 16:57] jdm commented on #35
In this case we should also accept `tests/unit` as an indication that tests are present.

[2015-12-13 19:18] jdm opened #39 "Link to an explanation of reftests"
Saying "please consider add a reftest" is useless if the PR author has no idea what a reftest is.

[2015-12-18 22:26] jdm opened #40 "Automatically assign a random reviewer to each new pull request"
Unless there's one selected specifically. We could base this off of the similar functionality in rust's highfive (https://github.com/nrc/highfive/blob/26d292ba3cd2a7ab38de0f0e7c8b6aff96c53a2a/highfive/newpr.py#L187), or build a simpler one. I'm not sure which is better.

[2015-12-20 16:43] jdm opened #41 "Check initial PR description for reviewer"
This requires adding the `on_pr_opened` hook to https://github.com/servo/highfive/blob/master/handlers/assign_reviewer/__init__.py to process the description as well.

[2015-12-20 16:44] jdm commented on #19
I made this change while redesigning highfive.

[2015-12-20 16:44] #19 closed

[2015-12-29 03:06] KiChjang commented on #28
@Mylainos do you need any help with this?

[2015-12-29 03:29] Mylainos commented on #28
If you want , you can work on this one.

[2016-01-04 15:16] jdm opened #42 "Warn on adding new files to tests/ref"
We're trying to remove this test harness, but there are a couple tests still running in it. This warning requires looking at the lines of the diff and looking for a before path of `/dev/null` and an after path that includes `tests/ref`. This requires creating a new handler in `handlers/`.

[2016-01-04 16:46] Ms2ger commented on #42
I'm hopeful this will all be gone in the next couple of weeks, fwiw.

[2016-01-09 13:26] jdm opened #43 "Warn if non-ini files are added to tests/wpt/metadata/ or tests/wpt/mozilla/meta/"
This would entail a new handler which looks at the new PR's diff (via `get_diff` in `on_new_pr`), finds a before path of `/dev/null`, and an after path that matches one of the metadata directory paths with a file extension that is not `.ini`.

[2016-01-11 18:45] jdm opened #45 "Add a watchlist to notify users when a PR touches a particular file or directory"
Github doesn't make it easy for individual users to track changes to particular files that are of interest. We can fix that! I propose creating a new handler with an `on_new_pr` listener that:
* reads a configuration file in the following format:
[code]
([ConfigParser](https://docs.python.org/2/library/configparser.html) recommended)
* for each file in the PR's diff, compare the path of the change

[2016-01-11 20:47] #35 closed

[2016-01-12 19:24] edunham commented on #40
From #servo:
[code]

[2016-01-12 22:41] jdm opened #47 "Provide APIs for iterating over the filenames in a diff, the file contents, and determining if a file is being added/removed"
Instead of multiple handlers reimplementing the same diff parsing code, we should allow them to express what they're actually trying to do.

[2016-01-12 22:42] jdm commented on #47
These APIs would be defined in eventhandler.py, and could replace code in handlers/missing_test/ and handlers/unsafe/.

[2016-01-12 22:47] jdm opened #48 "testing irc hook"

[2016-01-12 22:49] #48 closed

[2016-01-13 15:01] jdm commented on #45
Fixed by #46.

[2016-01-13 15:01] #45 closed

[2016-01-13 15:02] jdm commented on #47
This could also be used in the handler introduced in #46.

[2016-01-13 16:07] jdm commented on #42
No longer necessary after https://github.com/servo/servo/pull/9293.

[2016-01-13 16:07] #42 closed

[2016-01-14 00:53] rundrop1 commented on #41
The necessary function to add is `on_pr_opened` https://github.com/servo/highfive/blob/master/handlers/welcome/__init__.py#L7

[2016-01-14 03:57] emilio opened #49 "Add TestBinding.webidl and testbinding.rs to the test check"
Actually if you modify script code you can also add tests to these files:

 * `components/script/dom/testbinding.rs`
 * `components/script/dom/webidls/TestBinding.webidl`

Right now highfive warns you even though you've added tests there (see https://github.com/servo/servo/pull/9304) for example.

Should be easy to check if these files are modified too to prevent the false warning.

[2016-01-14 04:01] jdm commented on #49
This is the `missing_tests` handler, for the record.

[2016-01-15 02:10] rundrop1 commented on #40
Claiming this issue.

[2016-01-15 02:11] rundrop1 commented on #41
Claiming this issue.

[2016-01-18 19:15] jdm opened #53 "Add a warning about use of from_marked_location"
We don't run highfive on rust-mozjs yet, but this is one of those dangerous constructs that it would be nice to warn about.

[2016-01-27 23:46] jdm opened #55 "Warn on modifying any files in tests/wpt/css-tests/"
The files in that directory are synced from upstream occasionally, and that process will overwrite any modifications since the last sync. We should warn about this. This should be very similar to the handler added in #54.

[2016-02-01 06:20] saurvs commented on #55
I'd like to work on this.

[2016-02-01 06:26] KiChjang commented on #55
Ok!

[2016-02-03 13:44] #43 closed

[2016-02-03 22:00] jdm opened #57 "Check for typos in ini files"
Specifically, it's easy to write `disable: whatever` instead of the correct `disabled: whatever`. Also, we could check for an issue number or URL in the disabling message.

[2016-02-04 12:50] Ms2ger commented on #57
Maybe wptrunner should be stricter. We could just whitelist "bug". @jgraham?

[2016-02-04 12:54] jgraham commented on #57
Well there are already more than just `disabled`, `bug` and `expected`, so I'm not sure I want to make a whitelist that has to be updated for any new feature or ad-hoc convention.

[2016-02-04 19:08] #55 closed

[2016-02-11 18:26] jdm opened #58 "Warn about changes to tests/wpt/harness/"
This is actually an upstream repository that gets updated occasionally, so any changes made to it should also be made in the [original repository](https://github.com/w3c/wptrunner).

[2016-02-14 14:55] jdm opened #59 "Ignore changes to MANIFEST.json in nonini_wpt_meta"
The rule as written is too broad and has false positives like https://github.com/servo/servo/pull/9632 .

[2016-02-23 12:57] magni- commented on #41
Claiming this one, assuming @rundrop1 is no longer working on it?

[2016-02-23 13:13] rundrop1 commented on #41
Go for it!

#40 is part of the same function and you can probably find more info from jdm in that Issue as well.

[2016-02-24 04:29] g-k commented on #43
hrm, this should ignore changes to `MANIFEST.json` as in https://github.com/servo/servo/pull/9737

[2016-02-24 05:05] jdm commented on #43
Yeah, that's #59.

[2016-02-24 10:31] magni- commented on #40
Claiming this issue

[2016-02-24 15:11] #41 closed

[2016-02-25 05:59] magni- commented on #40
This should have been fixed by #63 :)

[2016-02-25 10:23] #40 closed

[2016-02-25 22:45] #59 closed

[2016-02-27 15:32] jdm opened #64 "Don't override assignee with random selection"
We should not try to choose an assignee if one is already present.
Code: `handlers/assign_reviewer/__init__.py`

[2016-03-08 16:45] jdm opened #66 "Set assignee when someone adds an r+"
This is a bigger issue for consistency now that assignees are randomly assigned when PRs are opened.

[2016-03-11 04:05] #64 closed

[2016-03-21 17:39] jdm commented on #17
Fixed by 32a4633b3e4838e0d62c148e44be5740b0ee6904.

[2016-03-21 17:39] #17 closed

[2016-03-22 18:36] samlh opened #69 "highfive seems to be changing pr assignees at random points"
For example, see:
https://github.com/servo/servo/pull/10085#event-597965935

[2016-03-22 19:11] jdm commented on #69
That's super weird. The only calls to `api.set_assignee` are from `handlers/assign_reviewer/__init__.py`, and those come from `on_new_pr` and `on_new_comment`, and there's no reason I can see for the assignee to be updated based on the activity in that PR.

[2016-03-23 00:01] jdm commented on #21
Fixed by #52.

[2016-03-23 00:01] #21 closed

[2016-03-25 11:37] magni- commented on #24
This is done, right? For example here: https://github.com/servo/servo/pull/9911#issuecomment-200660508

Doesn't look the the label gets properly removed though, should I create an issue for that?

[2016-03-25 12:05] magni- commented on #24
Hmm, we already have this, but it doesn't seem to work since `mergeable` is returned as `null`.
[code]

[2016-03-25 12:05] KiChjang commented on #24
@magni- I don't think it's the same issue. This is when highfive only says "Merge conflict", and it happens when a PR is r+'d and in the queue, but the head of queue PR, after merging, caused a merge conflict on the PR in queue.

[2016-03-25 12:20] magni- commented on #24
You mean homu, right? If it's a PR comment like any other, it's just a matter or adding another `elif` just like this one then, right?
[code]
(or changing to to check for `erge conflict`, if that's not considered too hacky :stuck_out_tongue:)

[2016-03-30 14:43] jdm opened #76 "Support file path exclusions in watcher handler"
#46 added file path watching, but we should support exclusions as well. This list would be checked after finding a match in `handlers/watchers/__ini__.py` and it would be ignored if there's a matching exclusion found. I propose that any path for a particular user that starts with a `-` should be considered an exclusion (`jdm = foo/blah -foo/blah/bar`)

[2016-03-30 21:50] edunham opened #77 "Remove `s-awaiting-merge` label once issues are merged"
It's cluttery and confusing when examining a repo's closed issues.

[2016-04-01 00:02] Mylainos commented on #77
I would like to do this one !

[2016-04-01 00:03] jdm commented on #77
You're welcome to it!

[2016-04-01 00:06] Mylainos commented on #23
I would like to do this one because we can liked it with https://github.com/servo/highfive/issues/77.

[2016-04-01 00:47] Mylainos commented on #77
We want to remove the label when the pull request is closed or merged or both ? Do we want to remove more labels ?

[2016-04-01 00:58] Mylainos commented on #77
Is there others payload actions than opened synchronize and created ? Because I think we can use `merge_at` of the synchronize action : https://github.com/servo/highfive/blob/master/handlers/status_update/tests/synchronize.json#L46.

If we add `on_pr_closed`, synchronize will have 2 events (here https://github.com/servo/highfive/blob/master/eventhandler.py#L8) witch will call the same function in

[2016-04-01 13:29] Mylainos commented on #76
I would like to take this one please !

[2016-04-01 13:46] jdm commented on #76
Go ahead!

[2016-04-01 14:43] Mylainos commented on #76
What should be done in that case:
[code]

[2016-04-01 15:06] jdm commented on #76
Any changes to `whatched_filed` sould be ignored according to that rule.

[2016-04-01 20:37] jdm commented on #77
Fixed by #78.

[2016-04-01 20:37] #77 closed

[2016-04-03 18:54] Mylainos commented on #28
I would like to finish this one :)

[2016-04-03 19:47] jdm commented on #28
Go for it :)

[2016-04-04 12:46] Mylainos commented on #28
For get the build status we need to use [StatusEvent](https://developer.github.com/v3/activity/events/types/#statusevent). But I don't find where the issue info is, and we need it to change the labels.

[2016-04-04 17:14] jdm commented on #28
Here's an example, since Servo already receives status events:
[code]

[2016-04-04 17:55] Mylainos commented on #28
There is no field where one can find the issue id.

[2016-04-04 18:55] jdm commented on #28
That's a good point! Luckily #26 has code that addresses this issue. You'll need to access the TravisCI API, like https://github.com/servo/highfive/pull/26/files#diff-1ead63058bd39887ba2d4367b324ec4bR1 . In particular, see the use of `get_pull_request_number`.

[2016-04-05 13:24] jdm commented on #76
Fixed by #76.

[2016-04-05 13:24] #76 closed

[2016-04-06 15:41] jdm opened #82 "S-needs-rebase still doesn't get removed"
Despite the changes in #75 I still had to remove it manually in https://github.com/servo/servo/pull/10225.

[2016-04-11 16:26] SimonSapin opened #83 "Asignee vs “you should hear from”"
highfive randomly assigns new PRs to a reviewer. If the PR is by a new contributor, highfive will separately pick a reviewer randomly and make a message like

If I’m picked for the latter but not the former, it’s not clear to me if I should do anything or leave it to the assignee to deal with that PR. Perhaps highfive should always pick the same person for both?

[2016-04-11 16:49] jdm commented on #83
Yeah, this will require either merging the handler that sets the assignee with the welcome one, or add some way of coordinating choices between them. Merging them is probably easier.

[2016-04-11 21:29] numberMumbler commented on #47
i'll start working on this one if it's still needed

[2016-04-11 22:05] jdm commented on #47
Please do!

[2016-04-12 19:05] jdm commented on #31
Fixed by #56.

[2016-04-12 19:05] #31 closed

[2016-04-12 19:09] jdm opened #84 "Support watchers for github issue labels"
For people who don't want to watch all the Servo issue activity but still care about activity that goes on in particular labels, highfive could support automatically notifying them when a label is added to an issue. This would be implemented very similarly to the [file watching handler](https://github.com/servo/highfive/tree/master/handlers/watchers) but using the "labeled" action, which would nee

[2016-04-12 19:11] jdm commented on #84
Here's an example JSON payload for a label being added to an issue:
[code]

[2016-04-20 15:41] jdm commented on #28
@Mylainos Are you still working on this?

[2016-04-20 22:27] jdm opened #85 "Report a warning for diffs containing `<title></title>`"
This usually indicates a new test file being created without appropriate metadata. We should point this out! This should live in a new handler in `handlers`, but it can use the `unsafe` handler as inspiration.

[2016-04-21 19:59] Mylainos commented on #28
Yes but I wait #26 because I can't access the id. If you want I will do a pull request but I won't work for now.

[2016-04-21 20:18] jdm commented on #28
Oh, #26 isn't going anywhere. The original author has moved on, and it's very complicated to rebase in the new highfive architecture.

[2016-04-21 20:19] jdm commented on #28
My suggestion was that you could steal the relevant code from #26.

[2016-04-21 20:20] Mylainos commented on #28
Ok, thanks!

[2016-04-21 21:21] zwn commented on #69
I guess there might have been a comment requesting the assignment but later got deleted. Can this be verified or is the deletion without a trace?

[2016-04-21 21:31] jdm commented on #69
I don't know of any log that could be verified.

[2016-04-21 21:32] zwn commented on #83
I will fold the welcome one into the other. The message confused me too when I saw it :smiley:

[2016-04-21 21:36] jdm commented on #83
Thanks!

[2016-04-21 23:21] jdm opened #87 "Homu is broken on this repository"
#86 finished testing on travis but homu didn't do anything with it. From IRC:
[code]
cc @edunham

[2016-04-22 08:30] zwn commented on #83
Hmm. I think the code causes me a physical pain :wink:. The handlers appear to be by all signs separate modules but they are imported into one shared module called `__init__` and even make use of it (like the call to `get_collaborators` in https://github.com/servo/highfive/blob/master/handlers/welcome/__init__.py#L10). Was that the intention? I hope you don't mind if I first split them up.

[2016-04-22 09:06] Wafflespeanut commented on #83
The only change that will be required is to merge the `on_pr_opened` functions from `WelcomeHandler` and `AssignReviewerHandler`. If the PR is from a new contributor, then we should get the assignee (instead of choosing one randomly), and post the welcome message. This will render the welcome handler useless, and so we should finally remove it.

[2016-04-22 12:49] Wafflespeanut commented on #83
#90 should fix this

[2016-04-22 12:49] #83 closed

[2016-04-23 13:47] jdm opened #93 "Consider linking to WPT documentation when reporting test failures"
i.e. https://github.com/servo/servo/blob/master/tests/wpt/README.md#updating-test-expectations

[2016-04-23 14:00] emilio opened #94 "Unescape HTML when reading test expectations"
Right now if the comment contains HTML, it's sent to github escaped, which makes things like the `&#39;new&#39;` you see in https://github.com/servo/servo/pull/10819#issuecomment-213735708 appear.

[2016-04-23 14:06] emilio opened #95 "IRC github bot not configured for this repo?"
Just opened #94, and it didn't show up in IRC.

[2016-04-23 14:07] jdm commented on #95
It's configured. I haven't been able to figure out why it never reports anything. Maybe it's something about the repository being moved from jdm/highfive.

[2016-04-23 14:41] Wafflespeanut commented on #95
This occurs only for issues. PRs do show up in the log.

(from yesterday's IRC log)

    Apr 23 00:07:52 -ghservo/#servo-        [highfive] Wafflespeanut opened pull request #92: Assign reviewers to PRs when they approve (master...assignee) https://git.io/vwBR6

[2016-04-23 15:35] KiChjang opened #96 "Prevent highfive from assigning PRs to PR author"
Right now, if a collaborator opens a new PR, there is a chance that he/she will be randomly assigned to review it. We should check to make sure that the PR author isn't being selected as the reviewer for his/her own PR.

[2016-04-23 16:03] Wafflespeanut commented on #23
Maybe, for new contributors, we can say something like,

"Thanks for doing this work! You can browse other starter issues at servo starters, or ping us at #servo channel in IRC, and we'll get something for you"

[2016-04-23 20:51] torbjorntorbjorn commented on #85
I've created pull request #97, which has a new handler that checks for the empty title elements.
The check is quite naive for now, but will hopefully be useful.

[2016-04-23 22:33] canaltinova commented on #84
I would like to work on this issue. Is there a proper message to send when a watched label added?

[2016-04-23 22:40] jdm commented on #84
I would start with `cc @github_user_name @githubuser_name2`.

[2016-04-23 22:43] canaltinova commented on #84
Ok,  thanks!

[2016-04-24 10:21] Wafflespeanut commented on #96
Right, this should be done. And, it could still be improved to cover other cases:

- post a warning comment if the PR author approves the PR
- don't assign PR authors even if comments like `r? PR-author` are posted
- revert assignee when PR authors are assigned explicitly

The last one looks pretty strict. But, we don't usually assign the authors to their own PRs. So, it might be worth to have it.

[2016-04-24 10:55] Ms2ger commented on #96
It is sometimes useful to self-assign explicitly, do let's not have the bot complain.

[2016-04-24 10:57] Wafflespeanut commented on #96
Okay, then we don't want the third one for now.

[2016-04-24 11:00] Ms2ger commented on #94
We should not be reading HTML at all, now that we have structured logs with a summary of the errors.

[2016-04-24 12:16] Wafflespeanut commented on #94
That was the original intent, but [we don't have all the necessary info in the structured log](https://github.com/servo/highfive/pull/86#issue-150127369) - currently, it shows only the test name and the expected & unexpected results (along with a lot of `stackwalk_stdout` stuff).

[2016-04-24 22:13] emilio opened #99 "Consider putting WPT test failures into a gist if there are too many"
It shouldn't be hard to create a gist if the report is more than, let's say, 30 lines, and it would prevent overloading the thread too much.

Ideally the report could also contain how many tests passed, how many failed and how many timed out.

[2016-04-25 03:09] Wafflespeanut commented on #99
I'm ambivalent about this. The whole point of having highfive show the WPT test failures is to make our life easier (i.e., we don't have to navigate a couple of pages to get the test results) :smile:

[2016-04-25 04:33] KiChjang commented on #99
I think we should truncate the test log output instead, if there are more than 15 failures or so.

[2016-04-25 13:48] jdm commented on #99
A gist seems like a good compromise to me, since it's only a single link away versus the status quo of many possible links to choose from.

[2016-04-25 15:17] Wafflespeanut commented on #99
Okay, then we can limit the posted log (to 20 lines or something), and link to the gist if it gets exceeded. In such cases, we could also go for showing only the test names and results in the PR, and putting other details into the gist.

[2016-04-25 16:47] jdm commented on #99
I'm not super interested in a doing a bunch of processing on the output - if 500 tests fail, it would still be a nuisance to scroll through just the test names. I'd say post the output inline if it's <30 lines, otherwise make a gist and post the link instead.

[2016-04-25 16:55] Wafflespeanut commented on #99
fair enough, falling back to emilio's idea...

[2016-04-26 14:08] jdm commented on #47
@numberMumbler Any progress here?

[2016-04-27 01:18] numberMumbler commented on #47
@jdm the refactoring was pretty straightforward, but I got side tracked on related issue:

i updated the logic in the _watchers_ handler that gets the files from the diff header (originally at line 26 in `watchers/__init__.py`) so that it can work more generally. But, that's causing 6  of the _missing_test_ handler's tests to fail, because the _watcher_'s comments now show up during the _missing_t

[2016-04-27 03:38] jdm commented on #47
So it's a known issue that the handlers aren't tested in isolation. If there's a way to solve that, that would be a great improvement. Without seeing the code, can we not just change some of the test data so that the files in question don't overlap?

[2016-04-27 14:00] numberMumbler commented on #47
:+1: might take me another week or so... end of the semester, and all

[2016-04-27 14:01] jdm commented on #47
Thanks for letting us know!

[2016-04-28 15:22] jdm opened #101 "Add a comment when a PR receives a push"
People complain that github doesn't notify when a PR gets new commits and the author doesn't say anything. Let's make highfive add a comment when this happens to make up for it.

Code: `handlers/status_update/__init__.py`

[2016-04-28 16:27] #66 closed

[2016-04-29 19:19] Wafflespeanut commented on #85
fixed by #97

[2016-04-29 19:19] #85 closed

[2016-05-03 02:00] #96 closed

[2016-05-03 02:08] Mark-Simulacrum commented on #101
Should [probably] be closed since #108 was merged.

[2016-05-03 02:09] #101 closed

[2016-05-03 02:32] ghost opened #110 "Highfive doesn't assign people very well sometimes"
#103 was supposed to fix #66, but highfive doesn't work for both the cases [(1)](https://github.com/servo/servo/pull/10901#issuecomment-215932461) & [(2)](https://github.com/servo/servo/pull/10975#issuecomment-216395531) sometimes. But, it also [does work](https://github.com/servo/servo/pull/10980#event-648324458) sometimes. I'm not sure whether this is related to assigning people in general (for

[2016-05-03 15:54] jdm commented on #22
The analyzer accepts a `?logurl=http://foo.bar/log` parameter; once https://github.com/servo/saltfs/issues/354 is fixes we should post links appropriately.

[2016-05-03 17:24] #84 closed

[2016-05-03 18:15] jdm opened #112 "Approver is ignored; comment author is marked reviewer"
I've done `@bors-servo: r=Ms2ger` in PRs recently and had highfive assign me. I can't see any reason why this happens from reading the code; I've verified the regex in http://regexpal.com/, and we have a test that explicitly checks for this situation. I'm baffled.

[2016-05-03 20:27] jdm commented on #112
This may have been fixed by #106 for reasons that are unclear to me.

[2016-05-10 15:26] numberMumbler commented on #47
@jdm are the entries in_ handlers/watchers/watchers.ini_ production values? Or, are they just examples?

My schedule has some slack in it again, so diving back into this

[2016-05-10 16:08] jdm commented on #47
Those are production values.

[2016-05-10 18:42] numberMumbler opened #117 "tests should only be run against the associated handler"
currently, handlers' tests are not isolated: every handler is run for each test. This causes problems (for example) when checking comment counts in a test result, because multiple handlers might add comments

[2016-05-10 18:54] jdm commented on #117
We could probably support this by making `get_handlers` take an argument that is used to filter the resulting handlers that are discovered?

[2016-05-10 19:18] numberMumbler commented on #117
I ended up adding it to the test setup, since both the handler and test were accessible at that point. Let me know if you'd like any changes

[2016-05-10 21:42] #117 closed

[2016-05-11 20:05] jdm opened #121 "Warn about adding new dependencies to Cargo"
In particular, we want to warn about verifying that associated licenses fit.

[2016-05-12 15:08] aneeshusa opened #122 "Label watcher handler seems broken"
I added myself as a watcher for the A-infrastructure tag on the servo/servo repo, but highfive didn't leave a comment in servo/servo#11153.

[2016-05-12 16:07] jdm commented on #122
The "issues" checkbox wasn't selected in the webhook, so it wasn't receiving labelling events.

[2016-05-12 16:07] #122 closed

[2016-05-12 23:31] emilio opened #123 "Consider not commenting about new commits if the last comment was made by highfive"
I feel bad for spamming people when pushing little fixups :-)

The worst case, that could be a needed rebase, is addressed by bors comment about the bitrot.

[2016-05-13 03:25] jdm commented on #123
This would be nice, but I suspect it would incur an extra API request to check the comments each time there's a push. I'm pretty sure we're already hitting the upper limit during really active periods :(

[2016-05-13 03:29] jdm opened #124 "Find ways to avoid hitting the API limit"
Possibly alternate between two accounts for each time the webhook is invoked?

[2016-05-13 03:29] jdm commented on #124
It would be useful to log times when we hit the API limit, too.

[2016-05-18 04:17] Wafflespeanut commented on #124
Could this be cause #110 and #112, since we don't know what else is causing such "unpredictability"?

[2016-05-18 13:04] jdm commented on #124
I don't see how it could be responsible for #112.

[2016-05-19 03:28] Wafflespeanut commented on #124
Okay, I misread it. It shouldn't cause #112

[2016-05-19 18:06] Wafflespeanut opened #127 "Should we check the diffs whenever new code is committed?"
In servo/servo#11267, the author modified the stuff inside `python`, and I was notified by highfive when the PR was opened. Later, new commits were added, where the author went for modifying the CI scripts (whose watcher is @aneeshusa). Wouldn't it be better if he got notified by it?

I suggest we should check the diff whenever new code is committed. We should probably store the state of the notif

[2016-05-19 19:39] jdm commented on #127
I'm generally favourable towards this, but I worry that we'll end up getting the same notifications over and over in the common case (such as modifying unsafe code and going through several rounds of review).

[2016-05-19 22:45] aneeshusa opened #128 "Do not notify watcher when watcher is PR author"
See [servo/servo#11283](https://github.com/servo/servo/pull/11283) for an example.

File to change: `handlers/watchers/__init__.py`.
Add a test in the `handlers/watchers/tests` directory.

[2016-05-20 03:39] metajack commented on #127
A good heuristic might be to rescan new diffs, but stop doing scanning after rebases.

[2016-05-20 09:09] nox commented on #128
What is that supposed to do? Notifications are just a comment, no?

[2016-05-20 13:52] jdm commented on #128
Yes; don't include the PR author in the list of people notified.

[2016-05-24 00:39] larsbergstrom opened #130 "When an E-Easy issue is opened, comment that it should be "claimed""
It would be nice if highfive mentioned for `E-Easy` bugs that they should be claimed by making a comment to that effect.

[2016-05-24 13:46] jdm commented on #130
Specifically, when the E-easy label is applied (via the `labeled` action), we should post: `This is an automated message: please make a comment here if you intend to work on this issue. Thank you!`. This belongs in its own handler, but could use the the `watcher` handler (`handlers/watcher/__init__.py`) as inspiration.

[2016-05-25 01:22] aneeshusa opened #131 "Do not notify label watcher who is already participating"
Currently, highfive will cc a label watcher on an issue even if they have already commented or been mentioned. @mbrubeck has been triaging a ton of issues lately (which is awesome), but the aforementioned behavior means highfive is leaving unnecessary comments; see https://github.com/servo/servo/issues/11167 for an example where I am already participating in the issue.

This will require changes t

[2016-05-25 02:10] jdm commented on #131
Is there a github API that returns the current participants?

[2016-05-27 13:09] maxteufel commented on #130
I'd like to work on this.

[2016-05-27 13:46] jdm commented on #130
Please do!

[2016-05-28 16:54] Wafflespeanut commented on #124
Are we currently going for [all events](https://developer.github.com/webhooks/#wildcard-event)? Because, then, we could associate some set of events to an account - say `pull_request` for "highfive" and `issue` for "highfive-2"?

[2016-05-29 00:26] jdm commented on #124
There's no account associated with receiving events. Highfive is in control of which account details are used with each API request it makes.

[2016-05-31 16:29] #130 closed

[2016-06-03 14:52] Wafflespeanut commented on #96
I'm surprised (this is still happening](https://github.com/servo/servo/pull/11556#event-679835849)!

[2016-06-06 11:32] atelierJVA commented on #128
I would like to work in this one.

What I plan to do is:
- In `/handlers/watchers/__init__.py` check `user:{login:}` against watcher for a file/directory
- Add a new test, `new_pr_author_is_watcher.json` with `test_user`as the PR author; I assume that a file/directory will only have 1 watcher, otherwise some tests would fail.
- Modify the existing test to include the :user and :login in the payloa

[2016-06-06 11:57] jdm commented on #128
Those steps sound correct!

[2016-06-09 12:28] highfive commented on #94
cc @jdm

[2016-06-09 12:28] highfive commented on #94
Please make a comment here if you intend to work on this issue. Thank you!

[2016-06-09 12:28] Wafflespeanut commented on #94
We can use the built-in `HTMLParser` for doing the unescaping.

[2016-06-12 17:53] Wafflespeanut commented on #128
fixed by #138

[2016-06-12 17:53] #128 closed

[2016-06-15 03:43] Nebopolis commented on #94
I would like to work on this issue.

[2016-06-15 04:05] Wafflespeanut commented on #94
Great to know! Please go ahead :)

[2016-06-15 04:20] #94 closed

[2016-06-20 13:36] #47 closed

[2016-06-21 13:08] ConnorGBrewster opened #141 "Highfive stopped commenting test failures"
See:
servo/servo#11809
servo/servo#11792
servo/servo#11800
servo/servo#11798

[2016-06-21 14:41] ConnorGBrewster commented on #141
Possibly fixed?
#11809

[2016-06-21 14:50] KiChjang commented on #141
I'm thinking that this might be intermittent.

[2016-06-21 15:28] jdm commented on #141
Yeah, it might be highfive hitting the API limits again. We should find a way to log when that occurs.

[2016-06-22 05:29] perlun commented on #30
I think the idea of adding people who are helping out in various small ways to a read-only team makes sense. It makes it possible to properly assign issues to people, which is a great benefit. The administrative burden of doing this should also be fairly low.

[2016-06-22 06:25] Wafflespeanut commented on #124
This pops in often these days :sob:

[2016-06-22 17:41] jdm commented on #124
Note: rate limit responses look like a 403 Forbidden response code, with an `x-ratelimit-remaining` header with value `0`, with a JSON response with a `message` field that states that the rate limit was exceeded.

[2016-07-01 16:01] asajeffrey opened #144 "Add an I-issue-report label to issue reports"
https://github.com/browserhtml/browserhtml/pull/1152 adds an identifying string `This report was generated by the browser.html issue reporter.` to issue reports it generates. Highfive could use this information, for example to add an `I-issue-report` label to the issue.

[2016-07-01 16:02] highfive commented on #144
Please make a comment here if you intend to work on this issue. Thank you!

[2016-07-01 16:02] highfive commented on #144
cc @jdm

[2016-07-01 16:03] asajeffrey commented on #144
Over in IRC (http://logs.glob.uno/?c=mozilla%23servo&s=1+Jul+2016&e=1+Jul+2016#c470789) @aneeshusa says this should be E-Easy.

[2016-07-01 16:06] jdm commented on #144
This belongs in a new handler in `handlers` which looks at the body of the issue and adds the label if necessary.

[2016-07-01 16:10] ConnorGBrewster commented on #144
Should we also add the `I-panic` tag? As these issue reports are only generated when a panic occurs?

[2016-07-01 16:12] jdm commented on #144
This will be a bit more work than originally anticipated, because we don't have any handlers that deal with opening new issues. We'll want to make the `created` event map to either `on_new_pr` or `on_new_issue` based on whether the `pull_request` field exists in the `payload['issue']` object (see `eventhandler.py`).

[2016-07-01 16:12] jdm commented on #144
Yes, adding the panic tag would also be useful.

[2016-07-01 19:40] asajeffrey commented on #144
At some point we may be getting error reports that aren't panics, but we can cross that bridge when we come to it.

[2016-07-02 04:10] webmaven commented on #30
@edunham, I am not sure if 8t is a typo, but I think you meant to filter on w+ permissions in your write-up above.

[2016-07-02 14:42] asajeffrey opened #145 "Check the version number in issue reports."
Once https://github.com/browserhtml/browserhtml/issues/1161 is addressed, we could get highfive to check the version string of each issue report, and if the version isn't a recent one, ask them to check again to see if the problem's been fixed?

Related to #144.

[2016-07-02 14:42] highfive commented on #145
cc @jdm

[2016-07-11 20:56] edunham opened #147 "Per-directory reviewers like Rust's highfive"
note to self: Consider implementing https://github.com/servo/servo/wiki/Governance#super-reviewers like https://github.com/nrc/highfive#adding-a-project

[2016-08-25 05:41] edunham commented on #30
Today I learned about https://github.com/eeyorebot/eeyore, which might have the features to address this issue.

[2016-08-31 13:05] nox opened #152 "Prevent merge when PR title states "do not merge""

[2016-09-09 12:42] #49 closed

[2016-09-14 01:14] Coder206 opened #155 "It's mine, I made a PR for the issue."
I noticed a few issues I am actively working on are labelled as "Potentially Open Issues" based on the issue's post last message. However, mine are seen to be more active in the PR. I was thinking it would be great to take this into consideration. Perhaps @highfive can add a tag to an issue saying PR submitted? (C-has-open-PR)

[2016-09-19 18:22] jdm commented on #87
This started working at some point: https://github.com/servo/highfive/pull/156

[2016-09-19 18:22] #87 closed

[2016-10-20 11:43] emilio opened #160 "Integrate highfive with GitHub's reviews."
See for example https://github.com/servo/servo/pull/13729, where the tags were manually added because highfive didn't detect that it was reviewed.

Don't know how GitHub's API exposes this though.

[2016-10-20 12:26] jdm commented on #160
https://platform.github.community/t/how-can-we-approve-or-request-changes-on-pull-requests-using-api/350 says this can't be done through the API yet.

[2016-10-20 12:27] jdm commented on #160
Ooh, nevermind. Looks like there was a webhook added recently: https://developer.github.com/v3/activity/events/types/#pullrequestreviewevent

[2016-12-08 00:33] frewsxcv opened #162 "Assign reviewer as a 'reviewer' instead of 'assignee'"
https://github.com/blog/2291-introducing-review-requests

[2016-12-08 01:11] jdm commented on #162
I'm only interested in making this happen if we can filter lists of PRs by the reviewer like https://github.com/servo/servo/pulls?q=is%3Aopen+is%3Apr+label%3AS-awaiting-review+assignee%3Ajdm .

[2016-12-08 01:43] frewsxcv commented on #162
Agreed. I realized that wasn't possible until after I opened this.

[2017-01-02 00:30] emilio opened #166 "Highfive is not enabled on core-foundation-rs"
We probably should do so.

[2017-01-02 14:19] jdm commented on #166
I lack admin permissions on that repo, otherwise I would.

[2017-01-22 20:34] jdm commented on #155
I think the effort required to implement this (ie. parsing text of PRs and guessing if it is intended to fix a particular issue if a number is present) isn't worth the reward here. It's not a big deal for project members to add the labels manually when a PR is taking longer to merge than two weeks after the last issue comment.

[2017-01-22 20:34] #155 closed

[2017-01-22 20:34] jdm commented on #152
This is probably beyond the power of highfive; I'm not really sure how to stop homu from merging in that case.

[2017-01-22 20:34] #152 closed

[2017-01-22 20:35] jdm commented on #121
DependencyCI theoretically does this for us now.

[2017-01-22 20:35] #121 closed

[2017-01-22 20:36] jdm commented on #69
Haven't seen this or a long time.

[2017-01-22 20:36] #69 closed

[2017-01-22 20:39] jdm opened #167 "Check if compile-fail tests are modified"
Our `missing_tests` handler warns if changes are made to Servo without corresponding automated tests. Sometimes we get false positives like https://github.com/servo/servo/pull/15146 because the compile-fail directory is not checked right now. We should fix this and add an automated test to `tests/new_pr.json`.

[2017-01-22 20:39] highfive commented on #167
Please make a comment here if you intend to work on this issue. Thank you!

[2017-01-24 02:44] DexterHaslem commented on #167
I'd like to work on this

[2017-01-24 06:38] saneyuki commented on #162
Now, we can filter it by https://github.com/blog/2306-filter-pull-request-reviews-and-review-requests

[2017-01-24 14:06] jdm commented on #162
The other important consideration is whether the github API allows filtering by review requests, since http://www.joshmatthews.net/who-reviews-the-reviewers/ relies on that feature.

[2017-01-24 14:38] jdm commented on #167
Please do! Ask questions if anything is unclear :)

[2017-02-03 21:34] jdm commented on #167
Fixed by #168.

[2017-02-03 21:34] #167 closed

[2017-02-22 04:02] metajack opened #170 "irc notifcations should include issues"

[2017-02-22 04:03] metajack commented on #170
Fixed.

[2017-02-22 04:03] #170 closed

[2017-04-04 18:25] KiChjang commented on #166
Is this solved?

[2017-04-04 19:09] jdm commented on #166
Nope.

[2017-04-12 06:51] jdm opened #175 "Cap number of files that are listed in "heads up" comment"
We should list the first five files, followed by "and N more".

[2017-04-12 06:51] highfive commented on #175
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-04-12 06:52] jdm commented on #175
Code: https://github.com/servo/highfive/blob/master/handlers/watchers/__init__.py

[2017-04-14 18:32] pyfisch commented on #175
@highfive: assign me

[2017-04-14 18:46] pyfisch commented on #175
Huhu?

@highfive: assign me

[2017-04-14 18:47] jdm commented on #175
This repository doesn't have the "C-assigned" label present.

[2017-04-14 19:21] #175 closed

[2017-05-08 19:19] aneeshusa opened #179 "Automatically label saltfs PRs with `S-needs-deploy` when merged"
I just [added](https://github.com/servo/saltfs/issues/658#issuecomment-299940395) a new `S-needs-deploy` label to saltfs to help keep track of what's been deployed on our builders and what hasn't. I'd like this label to be automatically applied when a saltfs PR is merged (to be removed by hand after deploying). Since this is specific to just us, what would be a good way to add this to highfive?

[2017-05-08 19:22] jdm commented on #179
Ooh, this is a good idea.

[2017-05-08 19:27] jdm commented on #179
https://github.com/servo/highfive/blob/5a21c889cdcdc67df06aa5fc62ddea70e901e963/handlers/status_update/__init__.py#L39 is the hook that runs for all repositories right now. I don't think we have any per-repository handler support right now, but we could theoretically add config file settings to control that [here](https://github.com/servo/highfive/blob/master/eventhandler.py#L63).

[2017-05-09 02:07] #179 closed

[2017-05-19 13:09] jdm opened #181 "Reporting failed test output is broken"
https://github.com/servo/highfive/blob/master/handlers/homu_status/__init__.py#L28-L37 looks for the step marked as failed and grabs the stdout for it. However, since the introduction of `./mach filter-intermittents` and `--no-fail` for `test-wpt`, highfive is now grabbing the output of filter-intermittent's stdout, which is always empty.

[2017-06-01 19:29] jdm opened #183 "test issue"
hi

[2017-06-01 19:58] highfive commented on #183
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-01 20:08] highfive commented on #183
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-05 14:43] highfive commented on #183
Hi! If you have any questions regarding this issue, feel free to make a comment here, or ask it in the `#servo` channel in [IRC](https://wiki.mozilla.org/IRC).

If you intend to work on this issue, then add `@highfive: assign me` to your comment, and I'll assign this to you. :smile:

[2017-06-05 16:41] wafflespeanut commented on #183
@highfive[bot] assign me

[2017-06-05 18:43] jdm commented on #183
@highfive[bot]: assign me

[2017-10-04 09:07] jdm opened #191 "test issue 2"

[2017-10-04 10:19] wafflespeanut opened #192 "test issue 3"

[2017-10-05 09:32] jockehewh commented on #183
hi all ! i'm learning Rust, and familiar with Javascript, how can i contribute ?

[2017-10-05 14:50] wafflespeanut commented on #191
Oh man, these issues appear on Servo starters.

[2017-10-05 14:50] #191 closed

[2017-10-05 15:06] wafflespeanut commented on #183
Hi! I'm afraid we don't have any stuff in JS to work on, but there's servo/servo#16840 which is an easy issue.

[2017-10-05 15:07] wafflespeanut commented on #183
(closing the test issue)

[2017-10-05 15:07] #183 closed

[2017-10-05 15:07] #192 closed

[2017-10-26 18:23] edunham opened #193 "Perhaps we should use CODEOWNERS rather than watchers..."
https://github.com/blog/2392-introducing-code-owners

[2017-11-27 15:59] jdm opened #195 "Support wildcard paths in file-watching"
We support notifying users when specific files or paths are modified in new PRs. It would be nice to support wildcard paths like "components/script/dom/*worklet*.rs", which requires using [fnmatch](https://docs.python.org/2/library/fnmatch.html) instead of `startswith`.

Code: https://github.com/servo/highfive/blob/master/handlers/watchers/__init__.py#L42 and https://github.com/servo/highfive/blob

[2017-12-09 19:08] s-moffett commented on #195
I'd be happy to take a stab at this. It'll be my first involvement with Mozilla.

@highfive : assign me

[2017-12-10 14:06] jdm commented on #195
Great! Please ask questions about anything that's unclear!

[2017-12-10 23:25] s-moffett commented on #195
Thanks for the welcome!

It looks like there might be a design decision to make here. As `fnmatch` requires wildcard characters for non-exact comparison, simply switching to `fnmatch` will break the current rules. For example, the rule `/watched/dir/` won't be triggered when `/watched/dir/file.rs` is added, but the rule `/watched/dir/*` will.

I went ahead and added wildcards to `watchers.ini` for

[2017-12-11 14:37] jdm commented on #195
Good point! While it's tempting to silently add *s, I think it will be too easy to overlook new additions that forget a trailing /. Therefore I think making the wildcards for directories explicit makes the most sense.

[2017-12-12 02:36] s-moffett commented on #195
Great! I just sent over a PR. #198

[2017-12-25 19:38] tigercosmos commented on #195
should this close?

[2017-12-25 20:38] KiChjang commented on #195
Yes.

[2017-12-25 20:38] #195 closed

[2018-01-07 19:43] tigercosmos opened #199 "add unassign to hivefive"
we can assign ourselves, but we can't unassign later when we find cannot handle the issue.

[2018-01-07 22:56] KiChjang commented on #199
I'm unclear on the benefits of this would have over commenting "please unassign me from this issue" and then have a reviewer remove the tag.

[2018-01-08 04:37] tigercosmos commented on #199
yeah. We can let reviewer to do that. But if the bot can do, why not? :)

[2018-01-08 06:05] KiChjang commented on #199
Because the bot cannot do what you think it does, the tag does not carry any information about who said `@highfive assign me` before, and if you implement it naively, the bot would just remove the tag whenever someone comments `@highfive unassign me`.

[2018-01-08 06:08] tigercosmos commented on #199
@KiChjang  You are right ..
This still can be solve by checking comment above, but it will be too complicated.

[2018-01-08 06:08] #199 closed

[2018-01-10 04:48] wafflespeanut commented on #199
@tigercosmos This would be an interesting feature for [the new highfive](https://github.com/servo-automation/highfive/) ([which tracks assignees](https://github.com/servo-automation/highfive/blob/master/cgi-bin/handlers/issues/easy_assign/__init__.py#L102)).

[2018-01-10 06:42] tigercosmos commented on #199
@wafflespeanut  Ah! What's the new highfive?
Will it replace the current one soon?

[2018-01-10 06:45] wafflespeanut commented on #199
@tigercosmos It was planned for a replacement last year, but it's currently being blocked on an issue with Github itself. Once that's resolved, we'll switch to it :)

I also need to clean it up a bit - right now, it's a giant monolithic hog'ish nightmare which just works.

[2018-01-10 06:48] tigercosmos commented on #199
I see. Once it launch, I would like to contribute on it. :)

[2018-01-10 06:49] wafflespeanut commented on #199
Sure thing!

[2018-12-11 23:28] jdm opened #206 "Add a treeherder link to push results when homu starts a merge"
This will make finding out the status of taskcluster jobs much easier, even compared to the current buildbot setup.

[2019-01-23 21:42] jdm opened #207 "Buildbot log fetching doesn't work for --always-succeed jobs"
https://github.com/servo/highfive/blob/master/handlers/homu_status/__init__.py#L27-L37 looks for a buildbot job that fails, then finds the stdio log for the failed job and prints that. For jobs like the bluetooth tests that fail if a test fails, that works perfectly fine. For jobs like the rest of the WPT tests, where the actual test run job passes and a subsequent log filtering job fails (and doe

[2019-01-23 21:45] jdm commented on #207
A quick fix would be to look for any log with `-errorsummary.log` in the name as well; sadly, that output is less generally helpful than the actual WPT job stdio.

[2019-01-23 21:47] jdm opened #208 "Add support for reporting treeherder job failures"

[2019-01-23 21:50] jdm opened #209 "Convert from CGI script to flask server"
This will make it possible to run as part of the servo infrastructure, rather than on my personal web host.

[2019-01-23 22:08] jdm commented on #207
Basic support added in #207. It would be nice to get the original "succeeding" job's output instead.

[2019-02-01 17:18] jdm opened #212 "Test failure log extraction is not working"
We should add some logging to figure out whether it's github API-related or failure to parse the logs or something else.

[2019-04-19 20:58] jdm opened #213 "Update issue labels based on review actions"
If a review is left with "request changes", we should be able to remove labels and apply new ones.

[2020-05-18 00:20] Manishearth opened #215 "Pull requests filed with a preset reviewer should just get that reviewer assigned"
related: https://github.com/servo/highfive/issues/162

I opened https://github.com/servo/servo/pull/26551 with Alan as a reviewer at creation, yet highfive assigned Josh to the PR.

Highfive should just assign the reviewers to the PR if they exist.

[2020-05-19 14:00] #215 closed

[2022-02-10 06:30] jdm opened #217 "test"

[2022-02-10 06:34] #217 closed